
.vs/04_Deferred/FileContentIndex/065adbae-a0fb-43cb-86da-b55fe7e9b516.vsidx
.vs/04_Deferred/FileContentIndex/3716d84b-dec7-415c-998c-c0f3e45c16ba.vsidx
.vs/04_Deferred/FileContentIndex/af2080f9-599a-4969-97a7-651eacc41d73.vsidx
.vs/04_Deferred/FileContentIndex/read.lock
.vs/04_Deferred/v17/.suo
.vs/04_Deferred/v17/Browse.VC.db
.vs/04_Deferred/v17/fileList.bin
.vs/04_Deferred/v17/ipch/AutoPCH/a3669be7017462f8/MYAPP.ipch
.vs/04_Deferred/v17/ipch/AutoPCH/c7a2d246637dea84/GLDEBUGMESSAGECALLBACK.ipch
